.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 35px;
}

.u-section-1 .u-layout-cell-1 {
  animation-duration: 1000ms;
}

.u-section-1 .u-image-1 {
  background-image: url("../images/Calling-amico.svg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  animation-duration: 1000ms;
  margin: 87px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 537px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    background-size: auto 110%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 45px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 749px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 549px;
}

.u-section-2 .u-text-1 {
  width: 402px;
  margin: 20px auto 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 384px;
  margin-top: 14px;
  margin-bottom: 45px;
  height: auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 10px;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 888px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-1 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c77aeb52.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c77b181b.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-3 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c780b5be.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-4 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c7758ee1.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-5 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c77e1796.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-6 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c76e35a2.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-7 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c7741e75.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-8 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c7681319.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-9 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c769493a.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-10 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c771610e.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-11 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c7739a3d.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-12 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c780472b.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 30px 0;
}

.u-section-2 .u-list-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
  min-height: 296px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-13 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6d1657110.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-14 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6d1743d09.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-15 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6c77aeb52.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-16 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6d17292cf.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 0 14px 14px;
}

.u-section-2 .u-image-17 {
  width: 200px;
  height: 200px;
  background-image: url("../images/2000_5f8b6d16ea730.webp");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-tabs-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, 25%);
    min-height: 724px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
    min-height: 1793px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-left: auto;
  }

  .u-section-2 .u-image-7 {
    margin-left: auto;
  }

  .u-section-2 .u-image-8 {
    margin-left: auto;
  }

  .u-section-2 .u-image-9 {
    margin-left: auto;
  }

  .u-section-2 .u-image-10 {
    margin-left: auto;
  }

  .u-section-2 .u-image-11 {
    margin-left: auto;
  }

  .u-section-2 .u-image-12 {
    margin-left: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 542px;
  }

  .u-section-2 .u-image-13 {
    margin-left: auto;
  }

  .u-section-2 .u-image-14 {
    margin-left: auto;
  }

  .u-section-2 .u-image-15 {
    margin-left: auto;
  }

  .u-section-2 .u-image-16 {
    margin-left: auto;
  }

  .u-section-2 .u-image-17 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 945px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-1 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-2 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-3 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-4 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-5 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-6 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-7 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-8 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-9 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-10 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-11 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-top: 17px;
    padding-bottom: 2px;
  }

  .u-section-2 .u-image-12 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-image-13 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-image-14 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-image-15 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-image-16 {
    width: 137px;
    height: 137px;
  }

  .u-section-2 .u-image-17 {
    width: 137px;
    height: 137px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 673px;
}

.u-section-3 .u-text-1 {
  margin: 20px 226px 0;
}

.u-section-3 .u-layout-wrap-1 {
  min-height: 410px;
  margin: 20px auto 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 436px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 436px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 0 -1px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px -1px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 0 -1px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px -1px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 436px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-text-10 {
  margin: 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  margin: 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-3 .u-text-1 {
    width: 743px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 60px;
    min-height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 596px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 553px;
}

.u-section-4 .u-text-1 {
  margin: 20px 331px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 346px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 367px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 367px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 367px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 21px 30px 30px;
}

.u-section-4 .u-text-10 {
  margin: 0 11px 0 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 0 0 -1px;
}

.u-section-4 .u-text-12 {
  margin: 0 11px 0 0;
}

.u-section-4 .u-text-13 {
  margin: 20px 11px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 367px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-14 {
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-15 {
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-16 {
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-17 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-4 .u-text-1 {
    width: 478px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    min-height: 90px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 303px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-16 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 24px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 528px;
}

.u-section-5 .u-text-1 {
  margin: 20px 339px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 56px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 372px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 1px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 0 1px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 372px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 21px 30px 30px;
}

.u-section-5 .u-text-6 {
  margin: 0 10px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px -1px 0;
}

.u-section-5 .u-text-8 {
  margin: 0 10px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-5 .u-text-1 {
    width: 462px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 39px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 655px;
}

.u-section-6 .u-text-1 {
  margin: 20px 432px 0;
}

.u-section-6 .u-slider-1 {
  min-height: 477px;
  width: 1020px;
  margin: 13px auto 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 84px 0 0;
}

.u-section-6 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("../images/400_5f8b5f73c8545.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 335px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: -30px 0 0;
}

.u-section-6 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("../images/400_5f8b5f3223352.png");
  background-position: 50% 50%;
  margin: 35px auto 0 469px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: -30px 0 0;
}

.u-section-6 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("../images/400_5f8b5f5565bd7.png");
  background-position: 50% 50%;
  margin: 35px auto 0 469px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.25rem;
  margin: -30px 0 0;
}

.u-section-6 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("../images/400_5f8b5ef0e6f24.png");
  background-position: 50% 50%;
  margin: 35px auto 0 469px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.25rem;
  margin: -30px 0 0;
}

.u-section-6 .u-image-5 {
  width: 83px;
  height: 83px;
  background-image: url("../images/400_5f8b5fc108776.png");
  background-position: 50% 50%;
  margin: 35px auto 0 469px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  background-image: none;
}

.u-section-6 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 332px;
    margin-right: 332px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 355px;
    height: auto;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
  }

  .u-section-6 .u-text-3 {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 0;
  }

  .u-section-6 .u-image-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 0;
  }

  .u-section-6 .u-image-3 {
    margin-left: auto;
  }

  .u-section-6 .u-text-7 {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-image-4 {
    margin-left: auto;
  }

  .u-section-6 .u-text-9 {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-10 {
    margin-top: 0;
  }

  .u-section-6 .u-image-5 {
    margin-left: auto;
  }

  .u-section-6 .u-text-11 {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 222px;
    margin-right: 222px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 132px;
    margin-right: 132px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-text-10 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 35px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 875px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 345px;
  margin: 31px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 222px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 222px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 22px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 222px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  padding: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-8 {
  font-weight: 300;
  margin: 0 259px 0 0;
}

.u-section-7 .u-form-1 {
  height: 347px;
  width: 510px;
  margin: 28px 0 0;
}

.u-section-7 .u-form-group-2 {
  margin-left: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  border-style: none;
  width: 100%;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-9 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-7 .u-text-10 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 20px 89px 0 0;
}

.u-section-7 .u-map-1 {
  width: 510px;
  height: 296px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 1px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 622px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-right: 159px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 22px;
    width: 410px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 622px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 27px;
    margin-right: 77px;
    margin-left: 30px;
    text-transform: none;
    font-weight: normal;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 26px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-map-1 {
    height: 330px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 466px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 49px;
  }

  .u-section-7 .u-form-1 {
    width: 300px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 457px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 3px;
    width: auto;
  }

  .u-section-7 .u-form-1 {
    width: 511px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 536px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 68px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1661px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    text-transform: none;
    font-weight: bold;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 0;
    min-height: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 475px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 530px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 9px;
  }

  .u-section-7 .u-text-9 {
    font-weight: bold;
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    font-size: 1rem;
    margin-top: 17px;
  }

  .u-section-7 .u-map-1 {
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}